body {
    margin: 0;
    padding: 0;
    background-color: #2c3e50; 
    color: #ecf0f1; 
    font-family: 'Arial', sans-serif;
  }
  
  .alphabet-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #34495e; 
  }
  
  .animation-container {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .animation-container img {
    max-width: 100%;
    max-height: 500px; 
    height: auto;
    border-radius: 10px; 
  }
  
  .alphabet-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  button {
    font-size: 18px;
    padding: 15px 20px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  p {
    font-size: 24px;
  }
  
  
  @media (max-width: 600px) {
    .animation-container img {
      max-height: 200px; 
    }
  
    button {
      font-size: 16px;
      padding: 10px 15px;
    }
  }
  